body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

#staminaTitle, #snakesTitle {
    position: absolute;
    font-size: 40px;
}

#staminaValue, #snakesValue {
    font-weight: bold;
}

#snakesTitle {
    top: 55px;
}

#frames {
    float: right;
    font-size: 27px;
}