body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;

    background-color: #c6ffc6;
}

#staminaTitle, #snakesTitle, #damageTitle {
    position: absolute;
    font-size: 40px;
}

#staminaValue, #snakesValue, #damageValue {
    font-weight: bold;
}

#snakesTitle {
    top: 55px;
}

#damageTitle {
    top: 110px;
}

#frames {
    float: right;
    font-size: 27px;
}