body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;

    background-color: #c6ffc6;
}

#snakesTitle, #goldTitle {
    position: absolute;
    font-size: 40px;
}

#snakesValue, #goldValue {
    font-weight: bold;
}

#snakesTitle {
    top: 55px;
}

#frames {
    float: right;
    font-size: 27px;
}